.DS_Store
.atom/storage
.atom/compile-cache
.atom/dev
.atom/.npm
.atom/.node-gyp
.atom/.apm
.atom/packages
.atom/projects.cson
.atom/blob-store

.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/quelpa/
.emacs.d/tramp
.emacs.d/url/
.emacs.d/.mc-lists.el
.emacs.d/image-dired/
